
{% load static %}
<!-- {% block content %} -->


<footer class="pt-4 my-md-5 pt-md-5 border-top footer-container">
 <div class="container">
   <div class="row">
       <div class="col-4 col-md footer-text">

       <h6 class="footer-text">SORESE</h6>
       <small class="d-block mb-3 footer-text">2018. All right reserved.</small>
       <div class="row no-gutters">
         <div class="col-md-3 col-sm-3 col-xs-3">
           <a href="" target="_blank">
             <i class="fa fa-facebook fa-2x"></i>
           </a>
         </div>
         <div class="col-md-3 col-sm-3 col-xs-3">
           <a href="" target="_blank">
             <i class="fa fa-twitter fa-2x"></i>
           </a>
         </div>
         <div class="col-md-3 col-sm-3 col-xs-3">
           <a href="" target="_blank">
             <i class="fa fa-linkedin fa-2x"></i>
           </a>
         </div>
       </div>
     </div>

     <div class="col-4 col-md footer-text">
       <h5>RESOURCES</h5>
       <ul class="list-unstyled text-small">
         <li><a class="footer-text" href="">Knowledge center</a></li>
         <li><a class="footer-text" href="">Community info</a></li>
         <li><a class="footer-text" href="">Available supports</a></li>
         <li><a class="footer-text" href="">Association details</a></li>
       </ul>
     </div>
     <div class="col-4 col-md footer-text">
       <h5>ABOUT</h5>
       <ul class="list-unstyled text-small">
         <li><a class="footer-text" href="about.html">Team</a></li>
         <li><a class="footer-text" href="contact.html">Locations</a></li>
         <li><a class="footer-text" href="career.html">Privacy</a></li>
         <li><a class="footer-text" href="blog.html">Terms</a></li>
       </ul>
     </div>
   </div>
 </div>
</footer>

<!-- {% endblock %} -->
