
{% load static %}

<nav class="navbar navbar-expand navbar-warning">

<a class="navbar-brand text-dark" href=""><b>SORESE</b></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  <!-- <span class="navbar-toggler-icon"></span> -->
</button>
<div class="collapse navbar-collapse" id="navbarCollapse">
  <ul class="navbar-nav mr-auto">
</div>
  <!-- <ul class="navbar-nav ml-auto"> -->
  <form class="form-inline mt-2 mt-md-0">
    <a class="navbar-brand text-dark" href="">Sign in</a>
    <a class="navbar-brand text-dark" href="">Sign Up</a>
  </form>
</nav>
