
{% load static %}

<div class="jumbotron jumbotron-fluid text-center">
    <!-- <h1><b>Ah! Get Some Gyan</b></h1>
  <h5>  Well we all know what to do and<br>
    What not to do. But never know sometime a tips works.<br> </h5> -->
    <!-- {{ gyanpages }} -->
    <div>
        <h2><a href="">{{ gyanpage.gyantitle }}</a></h2>
        <p>{{ gyanpage.gyantext }}</p>
    </div>


<div class="button-section">
<input type="text" placeholder="Email address" class="input">
<input type="button" value="Subscribe"class="btn close-btn">
</div>
</div>
</div>
