
{% load static %}

<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container1">
      <div class="row">
        <div class="col-md-2"><img src="media/write2.png" class="img-fluid" alt="">
          <p></p>
          <a class="text-dark" href="#">Raise a Request</a>
        </div>
        <div class="col-md-2"><img src="media/arrow.png" class="img-fluid" alt=""></div>
        <div class="col-md-2"><img src="media/solution1.png" class="img-fluid" alt="">
          <p></p>
          <a class="text-dark" href="#">Get Solution</a>
        </div>
        <div class="col-md-2"><img src="media/arrow.png" class="img-fluid" alt=""></div>
        <div class="col-md-2"><img src="media/smile1.png" class="img-fluid" alt="">
          <p></p>
          <a class="text-dark" href="#">Stay Happy</a>
        </div>
      </div>
      </div>
    <h4><p class="text-center">It works as simple as that!</p></h4>
  </div>
