
{% load static %}

<div class="jumbotron jumbotron-fluid text-center">
    <!-- <div class="col-md-4"> -->
    <h1 class=""><b>SOCIETY REQUEST RESPONSE BOARD</b></h1>
    <h5>    We are living a world of never ending request<br>
          and response cycle. And our society is not<br>
           an exception  </h5>
      <!-- <p class="lead "><a class="" href=""><span class="badge badge-pill badge-dark">RAISE A REQUEST</span></a></p> -->
      <!-- <input type="text" placeholder="RAISE A REQUEST" class="button"> -->
       <button type="button" class="btn btn-dark">RAISE A REQUEST</button>
    </div>
